<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Page</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="/stylesheets/login.css" rel="stylesheet">
</head>

<body class="text-center">

<form class="form-register" action="/register" method="post" id="regi-form">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="800" height="800">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" name="firstname" placeholder="" value="" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" name="lastname" placeholder="" value="" required>
        </div>
    </div>

    <div class="mb-3">
        <label for="username">Email Address</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="email" class="form-control" name="emailadd" placeholder="" required>
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Username</label>
        <input type="text" class="form-control" name="username" placeholder="">
    </div>

    <div class="mb-3">
        <label for="address">Password</label>
        <input type="password" class="form-control" name="password" placeholder="" required>
    </div>

    <div class="mb-3">
        <label for="address">Confirm Password</label>
        <input type="password" class="form-control" name="password-confirm" placeholder="" required>
    </div>

    <!--<label>-->
        <!--<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>-->
    <!--</label>-->
    <!--<label>-->
        <!--<input type="password" name="password" class="form-control" placeholder="Password" required>-->
    <!--</label>-->
    <div class="checkbox mb-3">
        <label>
            <a class="btn btn-outline-primary" href="/">Home Page</a>
            <a class="btn btn-outline-primary" href="/login">Already have account</a>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="register">Register</button>


    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <!--<img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">-->
                <small class="d-block mb-3 text-muted">&copy; 2018_Semester1_COMP5347 Web Application Development </small>
            </div>
        </div>
    </footer>

</form>

</body>
</html>